*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  overflow-x: hidden;
  background-color: #ffffff;
  opacity: 1;
  background: url('/assets/chinese-cuisine-dishes-white-background-with-space-text_1235831-45426.jpg');
  object-fit: contain;
  background-size: 17px 17px;
  display: flex;
  flex-direction: column;
}

#root {
  overflow-x: hidden;
  background-color: #ffffff;
  opacity: 1;
  background: url('/assets/chinese-cuisine-dishes-white-background-with-space-text_1235831-45426.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
