*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  /* min-height: 100vh;
  min-width: 100vw; */
  overflow-x: hidden;
  background-color: #ffffff;
  opacity: 1;
  /* background-image: radial-gradient(#90ee90 0.8500000000000001px, #ffffff 0.8500000000000001px); */
  background: url('src/assets/chinese-cuisine-dishes-white-background-with-space-text_1235831-45426.jpg');
  object-fit: contain;
  background-size: 17px 17px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
}

#root {
  overflow-x: hidden;
  background-color: #ffffff;
  opacity: 1;
  background: url('src/assets/chinese-cuisine-dishes-white-background-with-space-text_1235831-45426.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
