.user-profile-form {
  height: 100%;
  width: 95%;
  max-width: 440px;
  font-weight: bolder;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10%;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(207, 207, 207, 1);
  -moz-box-shadow: 5px 5px 5px 0px rgba(207, 207, 207, 1);
  box-shadow: 5px 5px 5px 0px rgba(207, 207, 207, 1);
  border: 1px solid lightgrey;
  border-radius: 14px;
  padding: 20px;

  .error-message{
    color: #FF6961;
    border: 1px solid #FF6961;
    margin-top: 20px;
    width: 80%;
    padding: 8px;
    border-radius: 10px;
  }

  .user-profile-form-step-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px;
  }

  .step-0{
    .user-profile-step-headers {
      width: 80%;
      margin-bottom: 10px;
   
    }
  }

  .form-step-btn {
    border: 2px solid transparent;
    width: 200px;
    height: 45px;
    margin-top: 20px;
    border-radius: 2rem;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
    color: black;
    border: 1px solid lightgray;
  }
  
  .form-step-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #2e7d32;
    transition: width 0.8s ease-in-out;
    z-index: 0;
    color: black;
  }
  
  .form-step-btn:hover::before {
    width: 100%;
    color: black;
  }
  
  .form-step-btn span {
    position: relative;
    color: black;
  }
  
}
