.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  color: black;
  border: 1px solid lightgray;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2.2px);
  -webkit-backdrop-filter: blur(2.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 1000;
}

.nav-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: transparent;
}

.first-letter {
  color: #2e7d32;
  font-size: 28px;
  font-weight: 800;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-icon,
.logout-icon,
.back-btn {
  cursor: pointer;
  margin: 0 5px;
}

.user-icon :hover,
.logout-icon:hover,
.back-icon:hover {
  color: #2e7d32;
}

.logout-icon:hover,
.user-icon:hover {
  transform: scale(1.1);
}

.mobile-user-actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mobile-user-action {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.mobile-user-action:hover {
  background-color: #f0f0f0;
}

.mobile-user-action span {
  font-size: 18px;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar-link {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.active {
  color: #2e7d32;
  font-weight: bold;
}

.nav-bar-link:hover {
  color: #2e7d32;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  .nav-links {
    display: none;
  }
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  z-index: 999;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.overlay-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-close-icon {
  font-size: 28px;
  cursor: pointer;
}

.overlay-links {
  list-style: none;
  padding: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.overlay-links li a {
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.overlay-links li a:hover {
  color: #2e7d32;
}
